*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.image-cont{
    text-align: center;
    width: 1400px;
    margin: 100px auto;
    
}
    .img-ninja{
        width: 50px;
    }
    .image-cont img{
        height: 300px;
    }